@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #892d2e;
  --primary-color-dark: #ab875f;
  --secondary-color: #493423;
  --text-dark: #892d2e;
  --text-light: #f5f3f5;
  --extra-light: #ab875f;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

body, html {
  overflow: hidden; 
  height: 100%; 
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #892d2e;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f5f3f5;
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color:#f5f3f5;
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

main {
  border: 3px solid var(--primary-color); 
  border-radius: 10px; 
  padding: 2rem;
  margin: 7rem auto 3rem; 
  max-width: var(--max-width);
  background-color: #892d2e; 
  position: relative;
  overflow: auto; 
  height: calc(100vh - 12rem); 
}

main::-webkit-scrollbar {
  width: 8px; 
}

main::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-dark); 
  border-radius: 4px; 
}

main::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color); 
}

main::-webkit-scrollbar-track {
  background-color: #fdf5f3; 
}


body {
  font-family: "Poppins", sans-serif;
  background-color: #ab875f;
  color: #f5f3f5; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  min-height: 100vh; 
}

.contact-section {
  text-align: center;
  background-color: #892d2e; 
  border-radius: 10px;
}

.contact-section h1 {
  font-size: 1.5rem;
  text-align: center;
  color: #f5f3f5;
  margin-bottom: 1rem;
}

.contact-section p {
  text-align: center;
  font-weight: 400;
  color: #f5f3f5;
}

.resume-container {
  background-color: #f8f8f8; 
  max-width: 800px; 
  width: 100%; 
  padding: 2rem;
  margin: 1rem; 
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.resume__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #892d2e; 
  padding: 2rem; 
}

.resume__section {
  background-color: #fdf5f3;
  padding: 1.5rem;
  border-left: 4px solid #493423;
  border-radius: 0.5rem;
}

.personal-info {
  display: grid;
  grid-template-columns: auto 1fr; 
  gap: 1rem 2rem;
  font-size: 1rem;
}

.info-row {
  display: contents; 
}

.info-row strong {
  color: #493423; 
  font-weight: 600;
  text-align: left;
}

.info-row span {
  color: #493423;
}


.resume__section h1 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--primary-color-dark);
    margin-bottom: 1rem;
  }

  .resume__section p {
    text-align: center;
    font-weight: 400;
    color: var(--primary-color-dark);
    margin-bottom: 1rem;
  }
  

.resume__section h2 {
  font-size: 1.5rem;
  color: #892d2e;
  margin-bottom: 1rem;
}

.resume__section ul {
  color: #493423;
  list-style: none;
  padding-left: 0;
}

.resume__section ul li {
  margin-bottom: 1rem;
  color: #493423;
}

.resume__section ul li strong {
  color: #493423;
}

.resume__section ul li em {
  font-style: italic;
}



footer {
    position: fixed;  
    bottom: 0;  
    left: 0;  
    width: 100%;  
    background-color: var(--primary-color); 
    color: #f5f3f5; 
    text-align: center;  
    padding: 1rem;  
    z-index: 99;  
  }
  
  .footer__content {
    max-width: var(--max-width);  
    margin: auto;  
    font-weight: 600;
  }
  
  
  body {
    padding-bottom: 50px;  }
  
  

